
 .App{
	background-color: aqua;
	height: 100%;
	display: flex;
	flex-direction: column;
	
} 

.navbar{
	margin-bottom: 25px;
}
.container {
	max-width: 600px;
	/* margin-top: 10px ; */
	margin: auto; 
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .task-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
  }

 